@import "tailwindcss";

.completed-square {
  background-color: #d1fae5; /* A light green background */
  border-color: #34d399; /* A green border */
  box-shadow: 0 0 0 3px rgba(52, 211, 153, 0.5); /* A subtle green glow */
  color: #065f46; /* Darker green text */
}

.bingod-square {
  background-color: #d1eafa;
  border-color: #348bd3;
  box-shadow: 0 0 0 3px rgba(52, 123, 211, 0.5);
  color: #062b5f;
}
